node_modules
.DS_Store
*.log

dist
build
.vscode
.api-report/temp
__diff_output__
.parcel-cache
/test-results/
/playwright-report/
/playwright/.cache/

.direnv

# Some tests involve packing Mafs and using the tarball as a dependency.
mafs-*.tgz
tests/frameworks/mafs.tgz
